.forgotPasswordContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../Images/LogInImage.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .forgotPasswordBox {
    background-color: black;
    width: 25vw;
    height: 50vh;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .forgotPasswordHeading {
    text-align: center;
    color: white;
    padding: 1.3vmax;
    border-bottom: 1px solid white;
    width: 80%;
    margin: auto;
  }
  
  .forgotPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
  }
  
  .forgotPasswordForm > div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .forgotPasswordForm > div > input {
    color: black;
    padding: 6px 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    outline: none;
    margin-left: 10px;
  }
  
  /* .forgotPasswordForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  } */
  
  .forgotPasswordBtn {
    border: none;
    background-color: rgb(58, 57, 57);
    color: white;
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
  }
  
  .forgotPasswordBtn:hover {
    transform: scale(1.1);
  }
  
  .authError {
    color: red;
  }

  .forgotPasswordForm > a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    align-self: flex-end;
    transition: all 0.5s;
  }
  
  .forgotPasswordForm > a:hover {
    color: red;
  }
  
  @media screen and (max-width: 600px) {
    .forgotPasswordBox {
      width: 80vw;
      height: 50vh;
    }
  
    .forgotPasswordForm {
      padding: 5vmax;
    }
  
    .forgotPasswordForm > div > input {
      padding: 10px 15px;
    }
  
    .forgotPasswordBtn {
      padding: 1.8vmax;
    }
  }
  