.updateProfileContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../Images/LogInImage.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.updateProfileBox {
  background-color: black;
  width: 25vw;
  height: 50vh;
  box-sizing: border-box;
  overflow: hidden;
}

.updateProfileHeading {
  text-align: center;
  color: white;
  padding: 1.3vmax;
  border-bottom: 1px solid white;
  width: 80%;
  margin: auto;
}

.updateProfileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}

.updateProfileForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.updateProfileForm > div > input {
  color: black;
  padding: 6px 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  outline: none;
  margin-left: 10px;
}

/* .updateProfileForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
} */

#updateProfileImage > img {
  width: 3vmax;
  height: 3vmax;
  border-radius: 50%;
  margin: 1vmax;
}
#updateProfileImage > input {
  display: flex;
  padding: 0%;
}

#updateProfileImage > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgb(255, 255, 255);
}

#updateProfileImage > input::file-selector-button:hover {
  background-color: rgb(235, 235, 235);
}

.updateProfileBtn {
  border: none;
  background-color: rgb(58, 57, 57);
  color: white;
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
}

.updateProfileBtn:hover {
  transform: scale(1.1);
}

.authError {
  color: red;
}

@media screen and (max-width: 600px) {
  .updateProfileBox {
    width: 90vw;
    height: 60vh;
  }

  .updateProfileForm {
    padding: 5vmax;
  }

  .updateProfileForm > div > input {
    padding: 10px 15px;
  }

  #updateProfileImage > img {
    width: 8vmax;
    border-radius: 100%;
  }

  .updateProfileBtn {
    padding: 1.8vmax;
  }
}
