.orderDetailsPage {
  min-height: 80vh;
  background-color: black;
}

.orderDetailsContainer > h1 {
  margin: 30px 0px;
  color: White;
}

.orderDetailsContainer {
  margin: 30px;
}

.orderDetailsContainerBox,
.orderDetailsCartItemsContainer {
  margin: 0px 30px;
}

.orderDetailsContainerBox > div {
  display: flex;
}

.orderDetailsContainerBox > div > p {
  color: white;
}

.orderDetailsContainerBox > div > span {
  margin-left: 5px;
}

.orderDetailsCartItems {
  border-top: 1px solid white;
  margin-bottom: 30px;
}

.orderDetailsCartItems > h1 {
  margin: 30px;
}

.orderDetailsCartItemsContainer > div {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.orderDetailsCartItemsContainer > div > img {
  width: 10vmax;
}

.orderDetailsCartItemsContainer > div > a {
  color: white;
  margin: 0px 30px;
  width: 70%;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .orderDetailsContainer > h1 {
    font-size: 15px;
    margin: 15px 0px;
  }

  .orderDetailsContainer {
    margin: 10px;
  }

  .orderDetailsContainerBox,
  .orderDetailsCartItemsContainer {
    margin: 0px 10px;
  }

  .orderDetailsCartItems {
    margin-bottom: 15px;
  }

  .orderDetailsCartItems > h1 {
    margin: 15px;
  }

  .orderDetailsCartItemsContainer > div {
    margin-left: 15px;
  }

  .orderDetailsCartItemsContainer > div > a {
    margin: 0px 15px;
  }
}
