.productsList {
  margin: 10px;
  background-color: rgba(30, 30, 32, 0.281);
  height: 300px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.productsList:hover {
  background-color: rgba(255, 255, 255, 0.137);
  transition: all 0.5s ease;
}

.productsList .image {
  height: 95%;
}

@media only screen and (max-width: 800px) {
  .productsList {
    height: 200px;
    width: 150px;
  }
}
