* {
  box-sizing: border-box;
}

.productsList {
  margin: 10px;
  background-color: rgba(30, 30, 32, 0.281);
  height: 300px;
  width: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.productsList .image {
  height: 100%;
}

.product-card__promotion {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  width: 7.5rem;
  height: 2.25rem;
  background-color: rgb(58, 57, 57);
  border-radius: 10px;
  position: absolute;
  right: -1rem;
  bottom: 0.5rem;
  transform: rotate(-15deg);
  transition: transform 1s cubic-bezier(.29,-0.54,.81,.95);
  line-height: 1;
}

.productsList:hover .product-card__promotion {
  transform: rotate(360deg);
}

@media only screen and (max-width: 800px) {
  .productsList {
    height: 200px;
    width: 150px;
  }
}
