.updateOrderForm {
    margin: 5vmax 0;
    padding: 3vmax;
    background-color: black;
  }
  
  .updateOrderForm > div {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .updateOrderForm > div > select {
    padding: 1vmax;
    margin: 2rem 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    outline: none;
    color: black
  }

  .updateOrderForm > div > select > option {
    color: black
  }
  
  .updateOrderForm > div > svg {
    margin-right: 10px;
    font-size: 1.6vmax;
    color: white;
  }
  
  @media screen and (max-width: 600px) {
    .updateOrderForm {
      padding: 5vmax;
    }
  
    .updateOrderForm > div > select {
      padding: 2.5vmax 5vmax;
    }
  
    .updateOrderForm > div > svg {
      font-size: 2.8vmax;
    }
  }