.newsLetter {
  background-image: url("../../Images/NewsLetterImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsLetter .heading {
  font-size: 50px;
}

.newsLetter .para {
  font-size: 20px;
  font-weight: 400;
}

.newsLetter .inputContainer {
  margin: 20px 0px;
}

.newsLetter .inputContainer .mail {
  padding: 20px;
  margin-right: 10px;
  width: 200px;
  font-size: 15px;
  color: black;
  outline: none;
  font-weight: 400;
}

.newsLetter .inputContainer .btn {
  padding: 20px 25px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  background-color: rgb(58, 57, 57);
  border: none;
}

@media only screen and (max-width: 800px) {
  .newsLetter {
    height: 30vh;
  }

  .newsLetter .heading {
    font-size: 30px;
  }

  .newsLetter .para {
    font-size: 15px;
  }

  .newsLetter .inputContainer {
    margin: 10px 0;
  }

  .newsLetter .inputContainer .mail {
    padding: 10px;
    margin-right: 5px;
    width: 150px;
  }

  .newsLetter .inputContainer .btn {
    padding: 10px 15px;
  }
}
