.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.sidebar a {
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  transition: all 0.5s;
}

.sidebar a:hover {
  transform: scale(1.1);
}

.sidebar a > P {
  display: flex;
  align-items: center;
}

.MuiTypography-root {
  background-color: black !important;
}

@media screen and (max-width: 600px) {
  .sidebar {
    padding: 1rem 0;
  }
}