.reviewCard {
    /* flex: none; */
    border: 1px solid white;
    width: 30vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
    padding: 3vmax;
}

.reviewCard > img {
    width: 5vmax;
    margin-bottom: 5px;
}