.logIn {
  height: 100vh;
  position: relative;
}

.logIn .bg {
  height: 100%;
  background-image: url("../Images/LogInImage.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(4px) grayscale(60%) brightness(50%);
}

.logIn .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logIn .wrapper .wraped {
  background-color: black;
  padding: 20px;
}

.logIn .wrapper .wraped .container {
  display: flex;
  flex-direction: column;
}

.logIn .wrapper .wraped .container .signIn {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.logIn .wrapper .wraped .container .username,
.logIn .wrapper .wraped .container .pw {
  color: black;
  padding: 5px;
  margin-bottom: 5px;
  outline: none;
}

.logIn .wrapper .wraped .container .btn {
  border: none;
  width: 100px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgb(58, 57, 57);
  margin-bottom: 10px;
}

.logIn .wrapper .wraped .container .forgotPW {
  text-decoration: none;
}

.logIn .wrapper .wraped .partition {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logIn .wrapper .wraped .partition .line {
  width: 120px;
  height: 1px;
  background-color: white;
}

.logIn .wrapper .wraped .partition .or {
  margin: 0px 10px;
}

.logIn .wrapper .wraped .signUp .phone,
.logIn .wrapper .wraped .signUp .mail,
.logIn .wrapper .wraped .signUp .facebook {
  border: 1px solid white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.logIn .wrapper .wraped .signUp .icon {
  margin-right: 10px;
}
