.singlePage .page {
  padding: 30px;
  height: 100vh;
  display: flex;
  align-items: center;
}

.singlePage .page .imageContainer {
  flex: 1;
  height: 100%;
  overflow: scroll;
  background-color: rgba(30, 30, 32, 0.281);
}

.singlePage .page .imageContainer::-webkit-scrollbar {
  display: none;
}

.singlePage .page .imageContainer .image {
  height: 100%;
  width: 100%;
}

.singlePage .page .info {
  padding: 50px;
  flex: 1;
}

.singlePage .page .info .name {
  margin-bottom: 20px;
}

.singlePage .page .info .price {
  margin-bottom: 20px;
}

.singlePage .page .info .desc {
  margin-bottom: 20px;
}

.singlePage .page .info .btn {
  background-color: rgb(58, 57, 57);
  cursor: pointer;
  padding: 20px 25px;
  border: 0;
}

@media only screen and (max-width: 800px) {
  .singlePage .page {
    padding: 10px;
    height: 100vh;
    flex-direction: column;
  }

  .singlePage .page .imageContainer {
    height: 100%;
    width: 90%;
    display: flex;
  }

  .singlePage .page .imageContainer .image {
    height: 100%;
    width: 100%;
  }

  .singlePage .page .info {
    padding: 0;
  }

  .singlePage .page .info .name {
    margin: 10px 0;
  }

  .singlePage .page .info .price {
    margin: 0;
  }

  .singlePage .page .info .desc {
    margin: 10px 0;
  }

  .singlePage .page .info .quantity p {
    margin-bottom: 5px;
  }

  .singlePage .page .info .quantity input {
    margin-bottom: 20px;
  }

  .singlePage .page .info .btn {
    padding: 10px 20px;
  }
}
