.shop {
  padding: 10px 30px;
}

.topThings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterBox {
  width: 150px;
  position: absolute;
  top: 200px;
}

.forCategories {
  margin-top: 30px;
}

.categoryBox {
  list-style: none;
}

.category-link {
  margin: 5px 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.category-link:hover {
  color: tomato;
}

.filterBox > fieldset {
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.329);
}

.sort {
  margin-top: 30px;
}

.sort .select {
  padding: 5px 40px;
  outline: 0;
  color: black;
}

.sort .option {
  color: black;
}

.products {
  padding: 0px 250px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.452);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}

.page-link {
  text-decoration: none;
  transition: all 0.3s;
}

.page-item:hover .page-link {
  color: tomato;
}

.pageItemActive {
  background-color: rgba(255, 255, 255, 0);
}

.pageLinkActive {
  color: green;
}

.error {
  color: tomato;
}

@media only screen and (max-width: 800px) {
  .shop {
    padding: 5px 10px;
  }

  .shopTitle {
    font-size: 25px;
  }

  .filterBox {
    width: 150px;
    position: relative;
    top: 0;
  }

  .forCategories {
    margin-top: 0px;
  }

  .filterBox > fieldset {
    margin-top: 15px;
  }

  .sort {
    margin-top: 0px;
  }

  .lineSketch {
    margin: 15px 0px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.493);
    width: auto;
  }

  .products {
    padding: 20px 0;
  }
}
