.shop .container-item {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop .container-item .search {
  display: flex;
}

.shop .container-item .search .searchInput {
  outline: none;
  color: black;
  padding: 5px 10px;
  height: 10px;
}

.shop .container-item .search .searchIcon {
  margin-left: 5px;
  cursor: pointer;
}

.shop .container-item .filter .filterTitle {
  margin-right: 15px;
}

.shop .container-item .filter .select {
  padding: 5px 10px;
  outline: 0;
  color: black;
}

.shop .container-item .filter .option {
  color: black;
}
@media only screen and (max-width: 800px) {
  .shop .container-item {
    padding: 15px;
  }
}
