<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
  </head>

  <body>
    <div style="background-color: black; padding: 50px;">
      <h1
        style="color: white; text-decoration: line-through; text-align: center; font-size: 50px;"
      >T<span style="color: red;">L</span>T</h1>
      <div style="border-bottom: 1px solid white;"></div>
      <p
        style="font-size: 18px; color: white; margin-top: 20px; text-decoration: none;"
      >Hello,</p>
      <p
        style="font-size: 18px; color: white; margin-top: 5px; text-decoration: none;"
      >We've received a request to reset the password for The Little Things
        account associated with
        {{email}}. No changes have been made to your account yet.</p>
      <p
        style="font-size: 18px; color: white; margin-top: 5px; text-decoration: none;"
      >You can reset your password by clicking the link below:</p>
      <a
        href={{link}}
        style="background-color: rgb(50, 50, 50); color: white; padding: 10px 20px; margin-top: 5px; font-size: 18px;"
      >Reset your password</a>
      <p
        style="font-size: 18px; color: white; margin-top: 25px; text-decoration: none;"
      >If you didn't request a new password, please let us know immediately by
        replying to this email.</p>
      <p
        style="font-size: 18px; color: white; margin-top: 5px; text-decoration: none;"
      >---- The Little Things Team</p>
      <div style="border-bottom: 1px solid white; margin-top: 10px;"></div>
      <h6 style="font-size: 15px; color: white">The Little Things, 826 New Delhi</h6>
    </div>
  </body>

</html>