.LoginSignUpContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed;
  top: 0%;
  left: 0; */
  background-image: url("../../../Images/LogInImage.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* filter: blur(4px) grayscale(60%) brightness(50%); */
}

.LoginSignUpBox {
  background-color: black;
  width: 25vw;
  height: 60vh;
  box-sizing: border-box;
  overflow: hidden;
}

.login_signUp_toggle {
  display: flex;
  height: 3vmax;
  margin-top: 15px;
}

.login_signUp_toggle > p {
  color: white;
  transition: all 0.5s;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 100%;
}
.login_signUp_toggle > p:hover {
  color: red;
}

.LoginSignUpBox > div > button {
  background-color: rgb(58, 57, 57);
  height: 3px;
  width: 50%;
  border: none;
  transition: all 0.5s;
}

.loginForm,
.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}

.signUpForm {
  transform: translateY(-100%) translateX(-100vmax);
}

.loginForm > div,
.signUpForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.loginForm > div > input,
.signUpForm > div > input {
  color: black;
  padding: 6px 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  outline: none;
  margin-left: 10px;
}

/* .loginForm > div > svg,
.signUpForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
} */

.loginForm > a {
  color: white;
  font-size: 15px;
  text-decoration: none;
  align-self: flex-end;
  transition: all 0.5s;
}

.loginForm > a:hover {
  color: red;
}

#registerImage > img {
  width: 3vmax;
  border-radius: 100%;
}
#registerImage > input {
  display: flex;
  padding: 0%;
}

#registerImage > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgb(255, 255, 255);
}

#registerImage > input::file-selector-button:hover {
  background-color: rgb(235, 235, 235);
}

.loginBtn,
.signUpBtn {
  border: none;
  background-color: rgb(58, 57, 57);
  color: white;
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
}

.loginBtn:hover,
.signUpBtn:hover {
  transform: scale(1.1);
}

.shiftToLeft {
  transform: translateX(-100%);
}
.shiftToNeutral {
  transform: translateX(0%);
}

.shiftToNeutralForm {
  transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
  transform: translateX(100%);
}

.authError {
  color: red;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .LoginSignUpBox {
    width: 90vw;
    height: 60vh;
  }

  .loginForm,
  .signUpForm {
    padding: 2vmax 5vmax;
  }

  .loginForm > div > input,
  .signUpForm > div > input {
    padding: 10px 15px;
  }

  .loginBtn,
  .signUpBtn {
    padding: 1.8vmax;
  }
}
