.resetPasswordContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../Images/LogInImage.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .resetPasswordBox {
    background-color: black;
    width: 25vw;
    height: 60vh;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .resetPasswordHeading {
    text-align: center;
    color: white;
    padding: 1.3vmax;
    border-bottom: 1px solid white;
    width: 50%;
    margin: auto;
  }
  
  .resetPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
  }
  
  .resetPasswordForm > div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .resetPasswordForm > div > input {
    color: black;
    padding: 6px 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    outline: none;
    margin-left: 10px;
  }
  
  /* .resetPasswordForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  } */
  
  .resetPasswordBtn {
    border: none;
    background-color: rgb(58, 57, 57);
    color: white;
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  
  .resetPasswordBtn:hover {
    background-color: tomato;
  }
  
  .authError {
    color: tomato;
  }
  
  @media screen and (max-width: 600px) {
    .resetPasswordBox {
      width: 90vw;
      height: 60vh;
    }
  
    .resetPasswordForm {
      padding: 5vmax;
    }
  
    .resetPasswordForm > div > input {
      padding: 10px 15px;
    }
  
    .resetPasswordBtn {
      padding: 1.8vmax;
    }
  }
  