.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .left {
  flex: 1;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  cursor: none;
  user-select: none;
}

.navbar .left .title {
  margin-right: 20px;
  font-size: 50px;
  text-decoration: line-through;
}

.navbar .left .name {
  font-size: 20px;
  font-weight: 500;
}

.navbar .left .little {
  color: red;
}

.navbar .center {
  padding: 10px 30px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 400;
}

.navbar .center div {
  padding: 10px;
  cursor: pointer;
}

.navbar .right {
  padding: 10px 30px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .right .userImage {
  margin-right: 20px;
  margin-top: 240px;
}

.navbar .right .userIcon {
  margin-top: 72px;
}

.speedDialIcon {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  cursor: pointer;
}

.navbar .right .cart {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .navbar {
    height: 60px;
  }
  .navbar .left {
    padding: 5px 10px;
  }

  .navbar .left .title {
    margin-right: 10px;
    font-size: 20px;
  }

  .navbar .left .name {
    font-size: 10px;
  }

  .navbar .center {
    padding: 0;
    font-size: 10px;
  }

  .navbar .center div {
    padding: 5px;
  }

  .navbar .right {
    font-size: 10px;
    padding: 5px 10px;
  }

  .navbar .right .userImage {
    margin-right: 0px;
    margin-top: 240px;
  }
  
  .navbar .right .userIcon {
    margin-top: 72px;
  }

  .speedDialIcon {
    height: 30px;
    width: 30px;
  }
}
