.aboutPage {
  padding: 10px 30px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutPage h1 {
  margin-bottom: 20px;
}

.aboutPage h3 {
  margin-bottom: 20px;
}

.aboutPage p {
  margin-bottom: 40px;
}

@media only screen and (max-width: 800px) {
  .aboutPage {
    padding: 5px 10px;
  }

  .aboutPage h1 {
    margin-bottom: 20px;
  }

  .aboutPage h3 {
    margin-bottom: 10px;
  }

  .aboutPage p {
    margin-bottom: 20px;
  }
}
