.search {
  display: flex;
  align-items: center;
  border: 0.1px solid rgba(255, 255, 255, 0.255);
}

.searchInput {
  outline: none;
  color: white;
  background-color: black;
  padding: 5px 10px;
  height: auto;
  border: none;
}

.searchIcon {
  margin-left: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .searchInput {
    padding: 5px 5px;
  }
}
