.singlePage-head {
  min-height: 80vh;
}

.singlePage {
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  min-height: 100vh;
}

.CarouselImage {
  height: 80vh;
}

.detailsBlock {
  margin-left: 50px;
}

.detailsBlock-1,
.detailsBlock-3,
.detailsBlock-4,
.detailsBlock-5,
.detailsBlock-6 {
  margin-bottom: 10px;
}

.detailsBlock-2 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.detailsBlock-6 > button {
  border: none;
  padding: 0.3vmax 0.5vmax;
  cursor: pointer;
  color: white;
  background-color: rgb(58, 57, 57);
  transition: all 0.5s;
}

.addToCart > button {
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: rgb(58, 57, 57);
  transition: all 0.5s;
}

.addToCart > button:hover {
  transform: scale(1.1);
}

.detailsBlock-6 > input {
  border: none;
  padding: 0.3vmax;
  width: 2vmax;
  text-align: center;
  outline: none;
  color: black;
}

.reviewsHeading {
  text-align: center;
  border-bottom: 1px solid white;
  padding: 1vmax;
  width: 20vmax;
  margin: auto;
  margin-bottom: 2vmax;
  margin-top: 2vmax;
}

.addReview {
  margin-top: 10px;
}

.addReview > button {
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: rgb(58, 57, 57);
  transition: all 0.5s;
}

.review {
  display: flex;
  overflow: auto;
  margin-bottom: 10px;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.review::-webkit-scrollbar {
  display: none;
}

.reviews {
  display: flex;
}

.noReviews {
  width: 100%;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}

.submitDialog {
  display: flex;
  flex-direction: column;
}

.submitDialogTextArea {
  border: 1px solid rgba(0, 0, 0, 0.082);
  margin: 1vmax 0;
  outline: none;
  padding: 1rem;
  color: black;
}

.react-simple-star-rating .empty-icons svg.star-svg path {
  color: gray;
}

.react-simple-star-rating .filled-icons svg.star-svg path {
  color: red;
}

@media only screen and (max-width: 800px) {
  .singlePage {
    flex-direction: column;
    padding: 5px 10px;
  }

  .CarouselImage {
    height: 50vh;
  }

  .detailsBlock {
    margin-top: 25px;
    margin-left: 0px;
  }

  .detailsBlock-6 > button {
    padding: 0.5vmax 1.1vmax;
  }

  .detailsBlock-6 > input {
    padding: 0.5vmax;
    width: 4vmax;
  }

  .reviewsHeading {
    margin-top: 1vmax;
  }

  .addReview {
    margin-bottom: 10px;
  }
}
