.MuiStepConnector-line {
    display: none !important;
  }
  
  .MuiStepConnector-root {
    height: 1px;
    background-color: white;
  }

  .MuiStepConnector-active,
  .MuiStepConnector-completed {
    color: tomato !important;
  }

/* In-built css */
.MuiPaper-root {
  background-color: black !important;
}