.myOrdersPage {
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#myOrdersHeading {
  text-align: center;
  padding: 0.5vmax;
  box-sizing: border-box;
  color: white;
  transition: all 0.5s;
  background-color: rgb(58, 57, 57);
}

.myOrdersTable {
  background-color: black;
}

.myOrdersTable div {
  color: white;
  border: none;
}

.myOrdersTable a {
  color: tomato;
  transition: all 0.5s;
}

.myOrdersTable a:hover {
  color: white;
}

.MuiDataGrid-columnHeader {
  background-color: rgb(58, 57, 57);
  padding: 1vmax !important;
}

.MuiDataGrid-columnHeader div {
  color: aqua;
}

.MuiDataGrid-iconSeparator {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .myOrdersPage {
    padding: 0;
    height: 93vh;
  }

  #myOrdersHeading {
    font: 400 2.2vmax "Roboto";
    padding: 4vw;
  }

  .myOrdersTable div {
    font: 300 4vw "Roboto";
  }

  .MuiDataGrid-columnHeader {
    padding: 20px !important;
  }

  .MuiDataGrid-columnHeader div {
    font: 500 5vw "Roboto" !important;
  }
}