.myOrdersPage {
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#myOrdersHeading {
  text-align: center;
  padding: 0.5vmax;
  box-sizing: border-box;
  color: white;
  transition: all 0.5s;
  background-color: rgb(22, 22, 22);
}

/* MUI STYLE */

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important; /* remove inline outline */
}

.myOrdersTable {
  background-color: black;
}

.myOrdersTable div {
  color: white;
}

/* .linkColor {
  color: tomato !important;
  transition: all 0.5s;
}

.linkColor:hover {
  color: tomato !important;
} */

.MuiDataGrid-columnHeader {
  background-color: rgb(22, 22, 22);
  padding: 1vmax !important;
}

/* .MuiDataGrid-columnHeader div {
  color: white !important;
} */

/* .MuiDataGrid-iconSeparator {
  display: none !important;
} */

/* @media screen and (max-width: 600px) {

} */