.myOrdersPage {
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#myOrdersHeading {
  text-align: center;
  padding: 0.5vmax;
  box-sizing: border-box;
  color: white;
  transition: all 0.5s;
  background-color: rgb(22, 22, 22);
}

/* MUI STYLE */

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important; /* remove inline outline */
}

.myOrdersTable {
  background-color: black;
}

.myOrdersTable div {
  color: white;
}

.MuiDataGrid-columnHeader {
  background-color: rgb(22, 22, 22);
  padding: 1vmax !important;
}

.css-1dmqq7i-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input,
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  color: white !important;
}