.productListContainer {
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    border-left: 1px solid white;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  #productListHeading {
    padding: 0.5vmax;
    box-sizing: border-box;
    color: white;
    transition: all 0.5s;
    margin: 2rem;
    text-align: center;
  }
  
  .productListTable {
    background-color: black;
    border: none !important;
  }
  
  .productListTable div {
    color: white;
    border: none !important;
  }
  
  .productListTable a,
  .productListTable button {
    color: white;
    transition: all 0.5s;
  }
  
  .productListTable a:hover {
    color: tomato;
  }
  
  .productListTable button:hover {
    color: rgb(236, 30, 30);
  }
  
  .MuiDataGrid-columnHeader div {
    color: white;
  }
  
  @media screen and (max-width: 600px) {
    .productListTable div {
      
    }
  }