body {
  background-color: black;
  overflow-y: scroll;
  overflow-x: none;
  cursor: url("./Images/cursor.png");
}

body::-webkit-scrollbar {
  width: 2px;
  height: 4px;
  background-color: rgb(0, 0, 0); /* or add it to the track */
}

/* Add a thumb */
body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.452);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.greenColor {
  color: green !important;
}

.redColor {
  color: red !important;
}

button {
  transition: all 0.5s;
}

button:hover {
  transform: scale(1.1);
}