.singlePage {
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 10px 50px;
}

.CarouselImage {
  height: 80vh;
}

.detailsBlock {
  margin-left: 50px;
}

.detailsBlock-1,
.detailsBlock-3,
.detailsBlock-4,
.detailsBlock-5,.detailsBlock-6 {
  margin-bottom: 10px;
}

.detailsBlock-2 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.detailsBlock-6 > button, .addToCart > button {
  border: none;
  padding: 0.5vmax;
  cursor: pointer;
  color: white;
  background-color: rgb(58, 57, 57);
  transition: all 0.5s;
}

.detailsBlock-6 > button:hover, .addToCart > button:hover {
  background-color: rgba(58, 57, 57, 0.5);
}

.detailsBlock-6 > input {
  border: none;
  padding: 0.5vmax;
  width: 1vmax;
  text-align: center;
  outline: none;
  color: black;
}

.reviewsHeading {
  text-align: center;
  border-bottom: 1px solid white;
  padding: 1vmax;
  width: 20vmax;
  margin: auto;
  margin-bottom: 4vmax;
  margin-top: 2vmax;
}

.review {
  display: flex;
  overflow: auto;
  margin-bottom: 20px;
}

.noReviews {
  text-align: center;
}

@media only screen and (max-width: 800px) {
}
